@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-neutral m-0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-neutral;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;    
}

h1 {
  @apply text-4xl my-6;
  line-height: 1.1;
}

h2 {
  @apply text-3xl my-4;
}

h3 {
  @apply text-2xl my-2;
}

h4 {
  @apply text-xl text-light-purple;
}

h5 {
  @apply text-lg text-light-purple;
}

p {
  @apply my-2;
}

blockquote {
  @apply text-neutral italic pl-3 mr-3 border-l-4 border-light-purple;
}

em, strong {
  @apply text-primary;
}

a {
  @apply text-light-purple;
}

.btn {
  @apply btn-outline rounded-none;
}

.btn-outline-secondary {
  @apply bg-white border border-secondary text-secondary rounded-none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05rem;
}

.btn-outline-secondary:not(:disabled):not(.disabled):hover, 
.btn-outline-secondary:not(:disabled):not(.disabled):active {
  @apply bg-dark-purple border border-dark-purple;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, 
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(62 56 153 / 50%);
}

.nav-link {
  @apply text-neutral;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.text-muted{
  @apply text-secondary;
}

/* Tabs */

.tab:is(input[type="radio"]) {
  @apply min-w-[225px] text-base border-b-2 border-b-primary;
}

.tab:is(input:checked) {
  @apply bg-primary font-bold text-white;
}

input[name="my_tabs_2"]:is(input:checked),
input[name="my_tabs_3"]:is(input:checked){
  @apply bg-secondary;
}

input[name="my_tabs_2"]:is(input[type="radio"]),
input[name="my_tabs_3"]:is(input[type="radio"]) {
  @apply min-w-[225px] text-base border-b-2 border-b-secondary;
}

.usability-study input[name="my_tabs_2"]:is(input[type="radio"]) {
  @apply min-w-[175px];
}

/* Lists */
ul:not(footer ul):not(ul.flex) {
  @apply list-disc ml-5;
}

ol {
  @apply list-decimal ml-5;
}

/* Cards */
.card {
  @apply rounded-none mt-1;
}
.card-title {
 @apply text-neutral uppercase mb-3;
}

h2.card-title {
  @apply text-3xl;
}

h3.card-title {
  @apply text-2xl;
}

/* Resume */
.company {
  @apply border-b border-secondary pb-3;
}

.location {
  @apply italic text-base;
}

.position {
  @apply text-base font-bold text-primary;
}
