/* kudos */
.testimonial-wrapper {
    @apply p-2;
 }
 
.testimonial {
    @apply  relative p-4 mb-2 border;
    @layer  border-[rgb(222, 226, 230)];
 }
 
 .testimonial::after {
     content: "";
     @apply w-4 h-4 block bg-accent border border-accent absolute -bottom-2 left-12 origin-center -rotate-45;
     @layer border-t-0 border-r-0 border-b-1 border-l-1;
 }

.overview {
     @apply pt-2 pr-0 pb-0 pl-5;
 }

.overview b {
     text-transform: uppercase;
     color: #4ECDC4;
 }

 .media-body {
    @apply px-4 py-2;
 }